.one_board{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px ;
    
}

.one_column{
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid ;
    border-radius: 10px;
    
}

.one_card{
    margin: 5px;
    padding: 5px;
    border: 1px solid ;
    border-radius: 10px;
    cursor: pointer;
}

.column-title{
    cursor: pointer;
}
.add_card_button{
    cursor: pointer;
}
.delete-column-button{
    
    background-color: rgb(255, 0, 0);
}
.create-column{
    width: 200px;
    margin: 10px;
    padding: 5px;
    border: 1px solid ;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    
}
.create-column-text-button{
    cursor: pointer;
}